<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1 class="info-top">All the Beans</h1>
	<ul class="beans">
  <% beans.forEach(bean => { %>
    <h3 class="info-top"><%= bean.name %> 
    by
    <%= bean.roaster %></h3>
    <p class="info">Origin: <%= bean.origin %></p>
    <p class="info">Region: <%= bean.region %></p>
    <p class="info">Varietal: <%= bean.varietal %></p>
    <p class="info">Tasting: <%= bean.tasting %></p>
    <a 
      href="/beans/<%= bean._id %>" 
    class="info">Reviews</a>
    <% if (bean.beansOwner.equals(user.profile._id)) { %>
      <form action="/beans/<%= bean._id %>?_method=DELETE" method="POST">
        <button type="submit">delete <%= bean.name %></button>
      </form>
      <% } %>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>