<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>All the Beans</h1>
	<ul class="beans">
  <% beans.forEach(bean => { %>
    <h3><%= bean.name %> 
    <%= bean.roaster ? 'by' : '' %>
    <%= bean.roaster %></h3>
    <p>Origin: <%= bean.origin %></p>
    <p>Region: <%= bean.region %></p>
    <p>Varietal: <%= bean.varietal %></p>
    <p>Tasting: <%= bean.tasting %></p>
    <a 
      href="/beans/<%= bean._id %>" 
    >Reviews</a>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>