<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<ul class="beans">
    <h3><%= bean.name %></h3>
    <p>Origin: <%= bean.origin %></p>
    <p>Region: <%= bean.region %></p>
    <p>Varietal: <%= bean.varietal %></p>
    <p>Tasting Notes: <%= bean.tasting %></p>
      <h3>Reviews</h3>
      <% bean.reviews.forEach(rev => { %>
        <div id="review">
          <form action="/beans/<%= bean._id %>/edit" method="GET">
        <p id="review-owner"><%= rev.owner.name %></p>
        <p>Rating: <%= rev.rating %> </p>
        <p>Review: <%= rev.content %> </p>
        <% if (bean.owner.equals(user?.profile._id)) { %>
        <button class="btn" type="submit">edit review</button>
      </form>
        </div>
        <% }) %>
    <% if (user) { %>
      <h3>add a review</h3>
      <form action='/beans/<%= bean._id %>' method="POST">
        <label for="rating-select"> Rating:
        </label>
        <select name="rating" id="rating-select">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="content-textarea">Review:
        </label>
        <textarea name="content" id="content-textarea" cols="30" rows="10"></textarea>
        <button type="submit" class="button">share your review</button>
      </form>
      <% } %>
    
  </ul>

</section>

<%- include('../partials/footer') %>