<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
  <h1>Welcome, <%= user ? user.profile.name : "Coffee Tribe" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar" 
        id="user-avatar"
      />
    </div>
  <% } %>
  <h2>Add Some Beans</h2>
  <form action="/beans" method="POST">
    <label> Roaster:
      <input type="text" name="roaster" id="roaster" placeholder="Anything but Starbucks">
    </label><br>
    <label> Name:
      <input type="text" name="name" id="bname" placeholder="What's it called?">
    </label><br>
    <label> Origin:
      <input type="text" name="origin" id="origin" placeholder="Country">
    </label><br>
    <label> Region:
      <input type="text" name="region" id="region" placeholder="Where within the country?">
    </label><br>
    <label> Varietal(s):
      <input type="text" name="varietal" id="varietal" placeholder="separated by ', '">
    </label><br>
    <label> Tasting Notes:
      <input type="text" name="tasting" id="tasting" placeholder="separated by ', '">
    </label><br>
    <button type="submit" class="button">Add Coffee</button>
  </form>
  <% } else { %>
  <h2>please login to add beans</h2>
  <% } %>
</main>

<%- include('./partials/footer') %>
