<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
  <h1>Welcome, <%= user ? user.profile.name : "Coffee Tribe" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar" 
        id="user-avatar"
      />
    </div>
  <% } %>
  <h2 class="add-beans">Add Some Beans</h2>
  <p class="required">* designates required field</p>
  <form action="/beans" method="POST" class="bean-form">
    <label class="bean-keys"> *Name:
      <input type="text" name="name" id="bname" class="bean-key" placeholder="e.g. El Cascajal" required>
    </label><br>
    <label class="bean-keys"> *Roaster:
      <input type="text" name="roaster" id="roaster" placeholder="e.g. Sey Coffee" class="bean-key" required>
    </label><br>
    <label class="bean-keys"> *Origin:
      <input type="text" name="origin" id="origin" placeholder="e.g. Colombia" class="bean-key" required>
    </label><br>
    <label class="bean-keys"> Region:
      <input type="text" name="region" id="region" placeholder="e.g. Huila" class="bean-key">
    </label><br>
    <label class="bean-keys"> Varietal(s):
      <input type="text" name="varietal" id="varietal" placeholder="separated by ', '" class="bean-key">
    </label><br>
    <label class="bean-keys"> Tasting Notes:
      <input type="text" name="tasting" id="tasting" placeholder="separated by ', '" class="bean-key">
    </label><br>
    <button type="submit" class="button" >Add Coffee</button>
  </form>
  <% } else { %>
  <h2 class="please-login">please login to add beans</h2>
  <% } %>
</main>

<%- include('./partials/footer') %>
